
/*.top{
	background-color: #44235C;
	color: #fff;
	margin-left: 0px;
	margin-right: 0px;
}*/
/*.nab-right{
	float: right;
    display: inline-flex;
}*/
/*.pf li{
	list-style-type: none;
}*/
/*.bell{
	padding: 15px;
}*/
/*#ac-bl{
	font-size: 22px;
}*/
/*.user{
	padding: 15px;
}*/
/*#ac-ur{
	font-size: 22px;
}*/
/*.ac-dd{
	padding: 1px;
}*/
/*.ac-btn{
	background-color: #fff;
	color: #fff;
}*/
/*.ac-dd a{color: #fff;}*/

/*.pf{font-size: 20px;}*/
.ac-sm{
	    border: 1px solid darkslategrey;
	    font-size: 22px;
}
.table .thead-dark th{   
	 background-color: #09B99B;
    border-color: gray;

}
tr:last-child { color: #09B99B;}
#ac-summ{color: #44235C;}
.date p{
	color: darkolivegreen;
    font-size: larger;
}
/*********** content ******************/
.content{
	max-width: 750px;
	text-align: center;
	margin: 0 auto;
}
.date{
	text-align: right;
	padding-top: 50px;
}
.show a{
	color: #ccc;
}

/**************************/
.navbar-light .navbar-nav .nav-link{
	color: #fff;
}
/*.navbar-light .navbar-nav .nav-link:hover{
	color: #fff;
}
*/

/***************** media query *******************/
@media screen and (min-width: 320px) and (max-width: 414px){
	/*.logo{
		position: absolute;
	}*/
	/*.logo h1{
		font-size: 24px;
		padding-top: 10px;
	}*/
	/*.nb{
		margin-top: 47px;
		border-top: 1px solid;
		margin-left: -15px;
		margin-right: -15px;
	}*/
	/*.icon{position: absolute;}*/
	/*.nab-right{padding-top: 4px;}*/
	/*.bell{padding: 8px;}
	.user{padding: 8px;}
	.pf{font-size: 16px;}*/
	.ac-ap{
		margin-left: 0px;
		margin-right: 0px;
	}
	.date{
		padding-top: 50px;
		position: absolute;
	}
	.ac_ro{
		margin-left: 0px;
		margin-right: 0px;
	}
	.ac-sm {
    	font-size: 17px;
    	margin-top: 50px;
    	border: 0px;
	}
	#ac-summ{font-size: 26px;}
}