body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    background-color: #ebedef !important;
}
.blue{
  color: #09B99B;
  font-weight: bolder;
}
/**************************** START LOGIN PAGE ******************************************/
.log_login{
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
}
.hr_line{margin-right: 0px;}
.vr_line{
  padding-right: 0px;
  padding-left: 0px;
}
.vr_line2{
  padding-right: 0px;
  padding-left: 0px;
}
.lf_side{
  background-color: #44235C;
  position: relative;
  padding: 100px 50px;
  height: 100%;
  
}

.img_log{
  float: left;
  width: 60px;
  height: 60px;
  background-color: #09B99B;
  border-radius: 50%;
  position: relative;
}
.lf_side img {
    position: absolute;
    left: 6px;
    top: 5px;
}
.txt{
  margin-top: 30px;
}
.title{
  float: inherit;
  color: #fff;
    font-size: 20px;
    padding: 16px;
    padding-left: 16%;
}
.title p{
  padding-left: 10px;
}
.lf_side h1{color:#fff;}
.rt_side{
  text-align: center;
  background-color: #ecf9f2;
  height: 100%;
  padding-top: 18%;
}
.frm{
  width: 100%;
}
.in_txt{
  width: 50%;
  margin-top: 5%;
  height: 40px;
}
.log_bt{
  width: 50%;
  margin-top: 5%;
  background-color: #44235C;
  height: 40px;
  color: #fff;
  font-size: 20px;
}
.in_txt{
  padding-left: 15px;
  border: 1px solid;
    border-radius: 5px;
}
.fgt_pass{ 
    float: left;
    padding-left: 25%;
    text-decoration: underline;
    color: gray;
    padding-top: 5px;
}
.new_ac{
  text-decoration: underline;
    color: #44235C;
    font-weight: 500;
}
.btn{
  border: none;
    border-radius: 5px;
}
.dnt{
      color: gray;
      padding-top: 10px;

}
/************** media query ***************/

@media screen and (min-width: 320px) and (max-width: 414px) {
  .vr_line{
    position: absolute;
    top: 55%;
    width: 102%;
  }
  .log{width: 100% !important;}
}

/*************************** END LOGIN PAGE *********************************************/
/**************************** START ACCOUNT SUMMERY PAGE ********************************/

.ac-sm{
      border: 1px solid darkslategrey;
      font-size: 22px;
}
.table .thead-dark th{   
   background-color: #09B99B;
    border-color: gray;

}
tr:last-child { color: #09B99B;}
#ac-summ{color: #44235C;}
.date p{
  color: darkolivegreen;
    font-size: larger;
}
/*********** content ******************/
.content{
  max-width: 750px;
  text-align: center;
  margin: 0 auto;
}
.date{
  text-align: right;
  padding-top: 50px;
}
.show a{
  color: #ccc;
}

/***************** media query *******************/
@media screen and (min-width: 320px) and (max-width: 414px){
  .ac-ap{
    margin-left: 0px;
    margin-right: 0px;
  }
  .date{
    padding-top: 50px;
    position: absolute;
  }
  .ac_ro{
    margin-left: 0px;
    margin-right: 0px;
  }
  .ac-sm {
      font-size: 17px;
      margin-top: 50px;
      border: 0px;
  }
  #ac-summ{font-size: 26px;}
}
/**************************** END ACCOUNT SUMMERY PAGE **********************************/

.top{
	background-color: #44235C;
	color: #fff;
	margin-left: 0px !important;
	margin-right: 0px !important;
}
.nab-right{
	float: right;
    display: inline-flex;
}
.pf li{
	list-style-type: none;
}
.bell{
	padding: 15px;
}
#ac-bl{
	font-size: 22px;
}
.user{
	padding: 15px;
}
#ac-ur{
	font-size: 22px;
}
.ac-dd{
	padding: 1px;
}
.ac-btn{
	background-color: #fff;
	color: #fff;
}
.ac-dd a{color: #fff;}
.pf{font-size: 20px;}
.navbar-light .navbar-nav .nav-link{
	color: #fff;
  font-size: 18px;
}
.navbar-light .navbar-nav .nav-link:hover{
	color: #fff;
}
.dropdown-menu{background-color: gray; margin-left: -20px;}
/************** left sidebar *************/
​
.lh-sd{background-color: gray;}

.act{
	color: rebeccapurple !important;
}

/**************** media query ************/



/************ right sidebar **********/


 .main {
    margin-left: 233px;
    padding: 15px;
    background-color: #fff;
    margin-top: 15px;
}
.hed{border-bottom: 2px solid lightgray;}
.hed h2{
	padding-left: 15px;
	color:  #44235C;
}
.nav-side-menu {
  overflow: auto;
  background-color: #fff;
  position: fixed;
  top: 70px;
  width: 220px;
  height: 71.5%;
  color: #e1ffff;
}
.nav-side-menu .brand {
  background-color: #fff;
  line-height: 50px;
  display: block;
  text-align: center;
  font-size: 16px;
  color: #09B99B;
}
.nav-side-menu .toggle-btn {
  display: none;
}
.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 4rem;
  cursor: pointer;
  visibility: visible !important;
}

.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
  font-family: FontAwesome;
  content: "\f078";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
}
.nav-side-menu li i.sidebar-icon {
    margin-right: 0.6rem;
    font-size: 1.5em;
    color: gray;
}
.nav-side-menu ul .active,
.nav-side-menu li .active {
  border-left: 3px solid #e1ffff;
  background-color: #4f5b69;
}
.nav-side-menu li:first-child{
	padding-left: 0px;
	padding-left: 0px;
	border-left: 3px solid #330033;
	border-bottom: 1px solid aliceblue;
	color: aliceblue;

}

.nav-side-menu li {
  /*padding-left: 0px;
  border-left: 3px solid #330033;*/
  border-bottom: 1px solid aliceblue;
    color: aliceblue;
}
.nav-side-menu li a {
  display: block;
  text-decoration: none;
  color: gainsboro;
}
.nav-side-menu li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
}
.nav-side-menu li a:hover {
  border-left: 3px solid #e1ffff;
  color:  #330033;
  -webkit-transition: all .6s ease;
  -moz-transition: all .6s ease;
  -o-transition: all .6s ease;
  -ms-transition: all .6s ease;
  transition: all .6s ease;
}
.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
  background-color: #000;
}
.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
  background-color: #181c20;
  border: none;
  line-height: 3.4rem;
  border-bottom: 1px solid #23282e;
  margin-left: 0px;
}
.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
  background-color: #020203;
}
.nav-side-menu li .sub-menu li a,
.nav-side-menu ul .sub-menu li a{
    display: block;
    padding-left: 20px;
}
.menu-list{border-top: 1px solid ghostwhite;}

.nav-side-menu ul .sub-menu li a i,
.nav-side-menu li .sub-menu li a i{
    padding-right: 10px !important;
}

/********************** content right sidebar ******************/
.category{
	margin-top: 15px;
}
.category p{
	font-size: 20px;
	color: gray;
}
.container1 {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container1 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border: 1px solid grey;
    border-radius: 5px;
    background-color: transparent;
}

/* On mouse-over, add a grey background color */
.container1:hover input ~ .checkmark {
    /*background-color: #ccc;*/

}

/* When the checkbox is checked, add a blue background */
.container1 input:checked ~ .checkmark {
    background-color: #09B99B;
    border: none;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container1 input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container1 .checkmark:after {
    left: 9px;
    top: 3px;
    width: 9px;
    height: 15px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.save{
padding: 10px 60px 11px !important;
font-size: 21px !important;
background-color: #09B99B;
/*font-weight: bold;
text-shadow: 1px 1px #F36C8C;
*/color: #ffffff;
border-radius: 100px;
border: none;
-moz-border-radius: 100px;
-webkit-border-radius: 100px;
cursor: pointer;
}
.btn1{
	padding-top: 100px;
	text-align: right;
}

/***************** footer ***********/

.footer{
	margin-top: 50px;
	text-align: center;
}

/************************* media query *********************/
@media screen and (min-width: 320px) and (max-width: 414px){
	.btn1{
		padding-top: 30px;
		text-align: center;
	}
	.hed h2{font-size: 18px;}
	.logo{
		position: absolute;
	}
	.logo h1{
		font-size: 24px;
		padding-top: 10px;
	}
	.nb{
		margin-top: 47px;
		border-top: 1px solid;
		margin-left: -15px;
		margin-right: -15px;
	}
	.icon{position: absolute;}
	.nab-right{padding-top: 4px;}
	.bell{padding: 8px;}
	.user{padding: 8px;}
	.pf{font-size: 16px;}
}


@media (max-width: 767px) {
    .main {
        margin-left: 0 !important;
        padding: 0 15px 15px 15px;
    }
  .nav-side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }
  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 7px;
    z-index: 10 !important;
    padding: 3px;
    width: 40px;
    text-align: center;
    background-color: #09B99B;
    border-radius: 100%;
  }
  .brand {
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
    line-height: 50px !important;
  }
}
@media screen and (min-width: 320px) and (max-width: 414px){
	.nav-side-menu{
		top: 0px;
	}
}
@media (min-width: 767px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }
}


/************************* MY PROFILE PAGE *****************************/
.mid{margin-right: 0px; margin-left: 0px; margin-top: 10px;}
.mid h2{display: none;}
.profile{text-align: center; padding-top: 20px; height: 120px; background-color: #fff;}
.profile p{color: #09B99B;}
.on-off{margin-top: 10px; background-color: #fff; height: 50px;}
/*.on-off{padding-top: 10px;}*/
.pf-nav .navbar{border: 0px;}
 .profile sup{
      top: -13px;
    right: 10px;
    font-size: 13px;
    background-color: #09b99b;
    color: #fff;
}
/********** on-off button ***********/

.material-switch > input[type="checkbox"] {
    display: none;   
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative; 
    width: 40px;  
}

.material-switch > label::before {
    background: #09B99B;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}
.material-switch > label::after {
    background: #09B99B;
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}

/******* end on-off button******/

/************** form in my profile ******************/
.stepwizard p{
    font-size: 15px;
    padding-top: 20px;
    padding-left: 25px;
  }
.rside{background-color: #fff;}
#my-profile{width: 85%; margin: 0 auto; padding-top: 35px; padding-bottom: 20px;}
#my-profile input{height: 40px;}
#my-profile select{height: 40px;}
.navbar-expand-lg .navbar-nav .nav-link {color: gray;}
.bg-light{background-color: inherit !important; border-bottom: 2px solid gainsboro !important;}
#my-profile .form-group label{color: darkgray;}
.y-pro{
    margin-top: 35px;
    /*width: 75% !important;*/
    float: right;
    height: 50px;
    background-color: #09B99B !important;
    font-size: 16px;
}

.range{
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  min-height: 50px;
  overflow: hidden;
  width: 240px;
}
input:focus {
  box-shadow: none;
  outline: none;
}
input::-webkit-slider-runnable-track {
  background: #09B99B;
  content: '';
  height: 2px;
  pointer-events: none;
}
input::-webkit-slider-thumb {
  height: 18px;
  width: 18px;
  -webkit-appearance: none;
  appearance: none;
  background: #fff;
  border-radius: 50%;
  box-shadow: 5px 0 0 -8px #c7c7c7, 6px 0 0 -8px #c7c7c7, 7px 0 0 -8px #c7c7c7, 8px 0 0 -8px #c7c7c7, 9px 0 0 -8px #c7c7c7, 10px 0 0 -8px #c7c7c7, 11px 0 0 -8px #c7c7c7, 12px 0 0 -8px #c7c7c7, 13px 0 0 -8px #c7c7c7, 14px 0 0 -8px #c7c7c7, 15px 0 0 -8px #c7c7c7, 16px 0 0 -8px #c7c7c7, 17px 0 0 -8px #c7c7c7, 18px 0 0 -8px #c7c7c7, 19px 0 0 -8px #c7c7c7, 20px 0 0 -8px #c7c7c7, 21px 0 0 -8px #c7c7c7, 22px 0 0 -8px #c7c7c7, 23px 0 0 -8px #c7c7c7, 24px 0 0 -8px #c7c7c7, 25px 0 0 -8px #c7c7c7, 26px 0 0 -8px #c7c7c7, 27px 0 0 -8px #c7c7c7, 28px 0 0 -8px #c7c7c7, 29px 0 0 -8px #c7c7c7, 30px 0 0 -8px #c7c7c7, 31px 0 0 -8px #c7c7c7, 32px 0 0 -8px #c7c7c7, 33px 0 0 -8px #c7c7c7, 34px 0 0 -8px #c7c7c7, 35px 0 0 -8px #c7c7c7, 36px 0 0 -8px #c7c7c7, 37px 0 0 -8px #c7c7c7, 38px 0 0 -8px #c7c7c7, 39px 0 0 -8px #c7c7c7, 40px 0 0 -8px #c7c7c7, 41px 0 0 -8px #c7c7c7, 42px 0 0 -8px #c7c7c7, 43px 0 0 -8px #c7c7c7, 44px 0 0 -8px #c7c7c7, 45px 0 0 -8px #c7c7c7, 46px 0 0 -8px #c7c7c7, 47px 0 0 -8px #c7c7c7, 48px 0 0 -8px #c7c7c7, 49px 0 0 -8px #c7c7c7, 50px 0 0 -8px #c7c7c7, 51px 0 0 -8px #c7c7c7, 52px 0 0 -8px #c7c7c7, 53px 0 0 -8px #c7c7c7, 54px 0 0 -8px #c7c7c7, 55px 0 0 -8px #c7c7c7, 56px 0 0 -8px #c7c7c7, 57px 0 0 -8px #c7c7c7, 58px 0 0 -8px #c7c7c7, 59px 0 0 -8px #c7c7c7, 60px 0 0 -8px #c7c7c7, 61px 0 0 -8px #c7c7c7, 62px 0 0 -8px #c7c7c7, 63px 0 0 -8px #c7c7c7, 64px 0 0 -8px #c7c7c7, 65px 0 0 -8px #c7c7c7, 66px 0 0 -8px #c7c7c7, 67px 0 0 -8px #c7c7c7, 68px 0 0 -8px #c7c7c7, 69px 0 0 -8px #c7c7c7, 70px 0 0 -8px #c7c7c7, 71px 0 0 -8px #c7c7c7, 72px 0 0 -8px #c7c7c7, 73px 0 0 -8px #c7c7c7, 74px 0 0 -8px #c7c7c7, 75px 0 0 -8px #c7c7c7, 76px 0 0 -8px #c7c7c7, 77px 0 0 -8px #c7c7c7, 78px 0 0 -8px #c7c7c7, 79px 0 0 -8px #c7c7c7, 80px 0 0 -8px #c7c7c7, 81px 0 0 -8px #c7c7c7, 82px 0 0 -8px #c7c7c7, 83px 0 0 -8px #c7c7c7, 84px 0 0 -8px #c7c7c7, 85px 0 0 -8px #c7c7c7, 86px 0 0 -8px #c7c7c7, 87px 0 0 -8px #c7c7c7, 88px 0 0 -8px #c7c7c7, 89px 0 0 -8px #c7c7c7, 90px 0 0 -8px #c7c7c7, 91px 0 0 -8px #c7c7c7, 92px 0 0 -8px #c7c7c7, 93px 0 0 -8px #c7c7c7, 94px 0 0 -8px #c7c7c7, 95px 0 0 -8px #c7c7c7, 96px 0 0 -8px #c7c7c7, 97px 0 0 -8px #c7c7c7, 98px 0 0 -8px #c7c7c7, 99px 0 0 -8px #c7c7c7, 100px 0 0 -8px #c7c7c7, 101px 0 0 -8px #c7c7c7, 102px 0 0 -8px #c7c7c7, 103px 0 0 -8px #c7c7c7, 104px 0 0 -8px #c7c7c7, 105px 0 0 -8px #c7c7c7, 106px 0 0 -8px #c7c7c7, 107px 0 0 -8px #c7c7c7, 108px 0 0 -8px #c7c7c7, 109px 0 0 -8px #c7c7c7, 110px 0 0 -8px #c7c7c7, 111px 0 0 -8px #c7c7c7, 112px 0 0 -8px #c7c7c7, 113px 0 0 -8px #c7c7c7, 114px 0 0 -8px #c7c7c7, 115px 0 0 -8px #c7c7c7, 116px 0 0 -8px #c7c7c7, 117px 0 0 -8px #c7c7c7, 118px 0 0 -8px #c7c7c7, 119px 0 0 -8px #c7c7c7, 120px 0 0 -8px #c7c7c7, 121px 0 0 -8px #c7c7c7, 122px 0 0 -8px #c7c7c7, 123px 0 0 -8px #c7c7c7, 124px 0 0 -8px #c7c7c7, 125px 0 0 -8px #c7c7c7, 126px 0 0 -8px #c7c7c7, 127px 0 0 -8px #c7c7c7, 128px 0 0 -8px #c7c7c7, 129px 0 0 -8px #c7c7c7, 130px 0 0 -8px #c7c7c7, 131px 0 0 -8px #c7c7c7, 132px 0 0 -8px #c7c7c7, 133px 0 0 -8px #c7c7c7, 134px 0 0 -8px #c7c7c7, 135px 0 0 -8px #c7c7c7, 136px 0 0 -8px #c7c7c7, 137px 0 0 -8px #c7c7c7, 138px 0 0 -8px #c7c7c7, 139px 0 0 -8px #c7c7c7, 140px 0 0 -8px #c7c7c7, 141px 0 0 -8px #c7c7c7, 142px 0 0 -8px #c7c7c7, 143px 0 0 -8px #c7c7c7, 144px 0 0 -8px #c7c7c7, 145px 0 0 -8px #c7c7c7, 146px 0 0 -8px #c7c7c7, 147px 0 0 -8px #c7c7c7, 148px 0 0 -8px #c7c7c7, 149px 0 0 -8px #c7c7c7, 150px 0 0 -8px #c7c7c7, 151px 0 0 -8px #c7c7c7, 152px 0 0 -8px #c7c7c7, 153px 0 0 -8px #c7c7c7, 154px 0 0 -8px #c7c7c7, 155px 0 0 -8px #c7c7c7, 156px 0 0 -8px #c7c7c7, 157px 0 0 -8px #c7c7c7, 158px 0 0 -8px #c7c7c7, 159px 0 0 -8px #c7c7c7, 160px 0 0 -8px #c7c7c7, 161px 0 0 -8px #c7c7c7, 162px 0 0 -8px #c7c7c7, 163px 0 0 -8px #c7c7c7, 164px 0 0 -8px #c7c7c7, 165px 0 0 -8px #c7c7c7, 166px 0 0 -8px #c7c7c7, 167px 0 0 -8px #c7c7c7, 168px 0 0 -8px #c7c7c7, 169px 0 0 -8px #c7c7c7, 170px 0 0 -8px #c7c7c7, 171px 0 0 -8px #c7c7c7, 172px 0 0 -8px #c7c7c7, 173px 0 0 -8px #c7c7c7, 174px 0 0 -8px #c7c7c7, 175px 0 0 -8px #c7c7c7, 176px 0 0 -8px #c7c7c7, 177px 0 0 -8px #c7c7c7, 178px 0 0 -8px #c7c7c7, 179px 0 0 -8px #c7c7c7, 180px 0 0 -8px #c7c7c7, 181px 0 0 -8px #c7c7c7, 182px 0 0 -8px #c7c7c7, 183px 0 0 -8px #c7c7c7, 184px 0 0 -8px #c7c7c7, 185px 0 0 -8px #c7c7c7, 186px 0 0 -8px #c7c7c7, 187px 0 0 -8px #c7c7c7, 188px 0 0 -8px #c7c7c7, 189px 0 0 -8px #c7c7c7, 190px 0 0 -8px #c7c7c7, 191px 0 0 -8px #c7c7c7, 192px 0 0 -8px #c7c7c7, 193px 0 0 -8px #c7c7c7, 194px 0 0 -8px #c7c7c7, 195px 0 0 -8px #c7c7c7, 196px 0 0 -8px #c7c7c7, 197px 0 0 -8px #c7c7c7, 198px 0 0 -8px #c7c7c7, 199px 0 0 -8px #c7c7c7, 200px 0 0 -8px #c7c7c7, 201px 0 0 -8px #c7c7c7, 202px 0 0 -8px #c7c7c7, 203px 0 0 -8px #c7c7c7, 204px 0 0 -8px #c7c7c7, 205px 0 0 -8px #c7c7c7, 206px 0 0 -8px #c7c7c7, 207px 0 0 -8px #c7c7c7, 208px 0 0 -8px #c7c7c7, 209px 0 0 -8px #c7c7c7, 210px 0 0 -8px #c7c7c7, 211px 0 0 -8px #c7c7c7, 212px 0 0 -8px #c7c7c7, 213px 0 0 -8px #c7c7c7, 214px 0 0 -8px #c7c7c7, 215px 0 0 -8px #c7c7c7, 216px 0 0 -8px #c7c7c7, 217px 0 0 -8px #c7c7c7, 218px 0 0 -8px #c7c7c7, 219px 0 0 -8px #c7c7c7, 220px 0 0 -8px #c7c7c7, 221px 0 0 -8px #c7c7c7, 222px 0 0 -8px #c7c7c7, 223px 0 0 -8px #c7c7c7, 224px 0 0 -8px #c7c7c7, 225px 0 0 -8px #c7c7c7, 226px 0 0 -8px #c7c7c7, 227px 0 0 -8px #c7c7c7, 228px 0 0 -8px #c7c7c7, 229px 0 0 -8px #c7c7c7, 230px 0 0 -8px #c7c7c7, 231px 0 0 -8px #c7c7c7, 232px 0 0 -8px #c7c7c7, 233px 0 0 -8px #c7c7c7, 234px 0 0 -8px #c7c7c7, 235px 0 0 -8px #c7c7c7, 236px 0 0 -8px #c7c7c7, 237px 0 0 -8px #c7c7c7, 238px 0 0 -8px #c7c7c7, 239px 0 0 -8px #c7c7c7, 240px 0 0 -8px #c7c7c7;
  margin-top: -8px;
  background: #09B99B;
}
input::-moz-range-track {
  width: 240px;
  height: 2px;
}
input::-moz-range-thumb {
  height: 18px;
  width: 18px;
  background: #09B99B;
  border-radius: 50%;
  position: relative;
}
input::-moz-range-progress {
  height: 2px;
  background: #09B99B;
  border: 0;
  margin-top: 0;
}
input::-ms-track {
  background: transparent;
  border: 0;
  border-color: transparent;
  border-radius: 0;
  border-width: 0;
  color: transparent;
  height: 2px;
  margin-top: 10px;
  width: 240px;
}
input::-ms-thumb {
  height: 18px;
  width: 28px;
  background: #fff;
  border-radius: 8px;
  border: 1px solid #777;
}
input::-ms-fill-lower {
  background: #e33d44;
  border-radius: 0;
}
input::-ms-fill-upper {
  background: #c7c7c7;
  border-radius: 0;
}
input::-ms-tooltip {
  display: none;
}
.pr_rg input[type=range]{width: 50%;}
.navbar-light #navbarNav .nav-link:hover{
  color: #00cc66;
}
.navbar-light .navbar-nav .active>.nav-link{
  color: #09B99B;
  font-size: 20px;
}
.navbar-nav .nav-item{padding-left: 60px;}

.pf-top{
  margin-left: -15px;
  margin-right: -15px;
}
.pf-top p{margin: 25px; font-size: x-large;}
.navbar-light .navbar-toggler{
  border-color: transparent;
  color: #00cca3;
}



input[type="date"]::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    opacity: 1;
    display: block;
    background: url(https://mywildalberta.ca/images/GFX-MWA-Parks-Reservations.png) no-repeat;
    width: 20px;
    height: 20px;
    border-width: thin;
}
/*************** end form section ********************/


/*********** media query of my profile page ***********/


@media screen and (min-width: 320px) and (max-width: 414px){
  .mid{
    margin: 0 auto;
  }
  .bg-light{
    border-bottom: none;
  }
  .pf-top p {
    position: absolute;
    margin-left: 175px;
    margin-top: 20px;
    color: green;
}

.pf-lside{background-color: #fff;}
.pf-top{display: none;}
.list-group-item:last-child{border: 0px solid;}
.mid h2{display: block; color: #09B99B; text-align: center;}

}

/********************** end of my profile page ************************/

/********************** my profile taxdetails *************************/

.my-pro-txt{border-bottom: 2px solid lightgray;}
.redio{
  top: 25px;
}
.radio-inline .my-rd{margin-left: 40px;}
.my-rd::after{margin-left: 25px;}
.my-pro label{color: darkgray;}
.btn-block{
  background-color: #09B99B;
  border-color: #09B99B;
  border-radius: 0%;
  font-weight: 700;
}

.conta {
    display: inline;
    position: relative;
    padding-left: 40px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-left: 50px;
}

/* Hide the browser's default radio button */
.conta input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    border: 1px solid #09B99B;
}

/* Create a custom radio button */
.checkmark1 {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid #09B99B;
}

/* On mouse-over, add a grey background color */
.conta:hover input ~ .checkmark1 {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.conta input:checked ~ .checkmark1 {
    background-color: transparent;
    border: 1px solid #00cc99;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark1:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.conta input:checked ~ .checkmark1:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.conta .checkmark1:after {
  top: 8px;
  left: 8px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #00cc99;
}


/********************** media query my profile taxdetails ********************/

@media screen and (min-width: 320px) and (max-width: 414px){
  body{background-color: #fff;}
}


/************* end of my profile taxdetails ***********************************/


/************************** SERVICE DETAILS PAGE *******************************/
  .serv-detail{
      margin-left: 0px;
      margin-right: 0px; 
      background-color: #fff; 
      border-bottom: 2px solid lightgray;
    }
  .sd-lf p{
    font-size: 25px;
    padding-left: 140px;
    padding-top: 5px;
    color: dimgray;
  }

  .sd-rt p{
    float: right;
    padding-right: 18px;
    padding-top: 15px;
  }
  .sd-rt p span{
    color: #09B99B;
  }
.detail{
    background-color: #fff;
    border-bottom: 2px solid darkgray;
    margin-top: 10px;
    border-left: 1px solid darkgray;
    border-right: 1px solid darkgray;
}

.doe{padding-top: 15px;}
.doe-left h4 p{color: gray;}
.doe-left p{font-size: 18px;}
.doe-right p{
    float: right;
    font-size: 14px;
}
.hourly{    
    float: right;
    padding-top: 25px;
    margin-right: -112px;
  }
.serv-descr{margin-left: 10px;}
.serv-descr h3{
  color: #44235C;
  text-decoration: underline;
}
.serv-descr p{
  font-size: 18px;
  color: dimgray;
  padding: 15px;
}
.req ol li{
  font-size: 18px;
}
.est-time{
    border-top: 1px solid darkgray;
    margin-right: 0px;
    margin-left: 0px;
}
.est-left h5{
   color: #44235C;
}
.est-left p{
  font-size: 15px;
}
.est-right{margin-top: 15px;}
.rej{    
  float: right;
  margin-right: 90px;
}
.acpt{
    float: right;
    margin-right: -175px;
}

/********************** media query of service details *******************/

@media screen and (min-width: 320px) and (max-width: 414px){
  .sd-lf p {
    font-size: 18px;
    padding-left: 0px;
    padding-top: 5px;
  }
  .sd-rt{position: absolute;}
  .sd-rt p {
    padding-right: 5px;
    padding-top: 5px;
  }
  .detail{top: 0px; border-bottom: 0px;}
  .doe-left{margin-left: 0px;}
  .doe-left p{font-size: 14px;}
  .doe-right{position: absolute;width: 94%;}
  .serv-btn{background-color: gainsboro;}
  .est-right{margin-bottom: 15px;}
}

/************************** END OF SERVICE DETAILS PAGE ************************/

/************************** START SERVICE DETAILS STEP2 PAGE ******************/

.est2-time{
    border-top: 1px solid darkgray;
    margin-right: 0;
    margin-bottom: 25px;
    padding-top: 20px;
    margin-left: 0px;
  }
  .est2-work{
    float: right;
  }
  .req{width: 100%;}
  .doc{width: 100%; display: inline-flex; margin-bottom: 20px;}
  .not img{border-radius: 5px;}
  .sd2-view{margin-top: 10px; margin-bottom: 10px;}
  .ad{text-align: right; margin-top: -108px;}
  .sd2-add{margin-top: 10px;}
  .sd2-add .btn{margin-right: -25px;}
  .ad img{padding-left: 20px; width: 25%;}
  .btn-suces1{background-color: #09B99B;}

  /************************ media query of STEPS 2 ***************************/

  @media screen and (min-width: 320px) and (max-width: 414px){
    .ad{margin-left: 175px;}
    .ad img{/*padding-left: 20px;*/ width: 100%;}
    .est2-left{width: 50%;}
    .est2-right{width: 50%;}
  }

/************************** END OF SERVICE DETAILS STEPS2 PAGE ****************/

/************************** START SERVICE DETAILS STEPS3 PAGE ****************/

  .wrk_tme{width: 52%;}
  .to_fm{
    display: inline-flex;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .tm{
    margin-top: 30px;
    margin-left: -40px;
  }
  .to{
    margin-top: 30px;
  }
.resch_met{
      margin-top: 55px;
    width: 52%;
    float: right;
}
.sds3_met{    
  text-align: center;
  padding-top: 20px;
}
.sds3_btn{padding-top: 15px;}
.sds3_but{width: 100%; background-color: #44235C; border: 0px;}
.sds3_st{padding-top: 15px;}
.sds3_wk{ background-color: #09B99B;}

/************************* media query of SDS3 page ************************/
@media screen and (min-width: 320px) and (max-width: 414px){
.sds3_right{width: 100%; margin-bottom: 30px;}
.resch_met {
    margin-top: 15px;
    width: 100%;
}
.wrk_tme {width: 100%;}
.sds3_left{width: 100%;}
}


/************************* END OF SERVICE DETAILS STEPS3 PAGE ****************/


/*********************** START SERVICE DETAILS STEP4 PAGE ********************/

.req ul li{list-style: none;}
.req h5{color: #44235C;}
.sds4_bot{border-top: 0px;}
.sds4-btn{background-color: #868686; color: #fff}
#sds4_all{color: #44235C; font-size: 20px;}
/********************** END OF SERVICE DETAILS STEP4 PAGE ********************/

/********************* START POPUP PAGE **************************************/

.container2 {
    display: inline;
    position: relative;
    padding-left: 45px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container2 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.container2 span.checkmark {
    position: absolute;
    top: 0;
    left: 10px;
    height: 25px;
    width: 25px;
    border: 1px solid grey;
    border-radius: 5px;
    background-color: transparent;
}

/* On mouse-over, add a grey background color */
.container2:hover input ~ .checkmark {
    /*background-color: #ccc;*/

}

/* When the checkbox is checked, add a blue background */
.container2 input:checked ~ .checkmark {
    background-color: #09B99B;
    border: none;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container2 input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container2 .checkmark:after {
    left: 9px;
    top: 3px;
    width: 9px;
    height: 15px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.pup_bn{float: right;}
.pup_fm{width: 100%;}
.pup_lst{margin-bottom: 25px;}
.put_rq{background-color: #09B99B; color: #fff; font-size: 20px;}
.pup_sc{background-color: transparent; border: 1px solid #868686; border-radius: 10px;}
.pup_re{background-color: #44235C; color: #fff;}
.pup_modal p{   
    color: #44235C;
    font-size: 30px;
    padding: 30px;
  }
  .pup_fot{border: 0px;}
  .pup_n{background-color: transparent; font-size: 20px;}
.pup_md{top: 100px;}
/*************************** media query for popup page ***********************/
@media screen and (min-width: 320px) and (max-width: 414px){
  .pup_bn{display: inline-flex; margin-top: 10px;}
  .pup_sc{float: left;}
  .pup_form h5{font-size: 18px;}
  .est2-work {
    float: left;
    margin-top: 10px;
    margin-bottom: 15px;
  }
  .pup_md{top: 0px;}
  .pup_modal p {
    font-size: 18px;
    padding: 12px;
  }
}


/******************************** END OF POPUP PAGE **************************/

/******************************** START TRANSITION HISTORY ******************/
.trn_h tr th{color: #fff;}
.tran_hist{background-color: #fff; margin: 10px;border-bottom: 2px solid darkgray; padding: 22px;}
.trn_first{background-color: #09b99b;border: 0px;font-size: 19px;}
.tr_dbtn{float: right;padding: 10px;}
.trn_last{background: transparent;color: gray;}
.trn_tb .table-bordered td, .table-bordered th{border:1px solid #ccc;}
.trn_h{background-color: #09B99B;color: #fff;font-size: 16px;}
#trn_co{padding-left: 100px;font-size: 18px;}

/******************************** END OF TRANSITION HISTORY *****************/


/************************************************* demo ***********************/

.regt{
  margin: 2%;
  width: 95%;
}
.lh{
  margin-left: 0px;
  margin-right: 0px;
}
.con{
  position: fixed;
  top: 60px;
  /*margin-top: 20%;*/
}
.left{
  background-color: #44235C;
  height: auto;
  color: #fff;

}
.cr{
  width: 35%;
  margin: 5%;
}
.btn-block{
  background-color: #09B99B;
  border-color: #09B99B;
  border-radius: 0%;
  font-weight: 700;
}
.img{
  float: right;
  width: 40px;
  height: 40px;
  background-color: #00b38f;
  border-radius: 50%;
  position: relative;
}
.right h2{text-decoration: underline;}

.img2{
  float: left;
  width: 40px;
  height: 40px;
  border: 1px solid #00b38f;
  border-radius: 50%;
  position: relative;
}
.img2 p{
  padding: 7px 15px;
}
.bottom{
  margin-top: 100%;
}
.bottom hr{
  border-top: 1px solid #fff;
  width: 110%;
    margin-left: -15px;
}
.account{font-size: 14px;}
.in{
  margin-left: 50px;
  text-decoration: underline;
  font-weight: 700;
}
.img img{margin:7px;}
.in a{
  color: #09B99B;
}
.right{
  height: auto;
  background-color: #F3FCFB;
}

.c1{
  text-align: center;
  margin-right: -15px;
}
.log{
  width: 80%
}
.form-group label{
  color: darkgray;
}
.add{
  text-decoration: underline;
  font-weight: 700;
}
.btn-block{
  width: 75% !important;
    float: right;
    height: 45px;
}
/********************/
.stepwizard-step{
  text-align: inherit !important;
}
.stepwizard-step p {
    margin-top: 10px; 
}

.stepwizard-row {
    display: table-row;
    text-align: center;
}

.stepwizard {
    display: table;     
    width: 82%;
    position: relative;
    margin: 0px;
}

.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.stepwizard-step {    
    display: table-cell;
    text-align: center;
    position: relative;
}

.btn-circle {
  width: 50px;
  height: 50px;
  text-align: center;
  padding: 6px 0;
  font-size: 20px;
  line-height: 1.428571429;
  border-radius: 50%;
  border: 1px solid #09B99B;
  background-color: #09B99B
}

.stepwizard-row:before{
  top: 24px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 45.5% !important;
    height: 1px;
    background-color: #ccc;
    z-order: 0;
    margin-left: 24.5%;
}
 .stepwizard-step .btn-primary .btn-circle p {
    color: #00ffcc;   
}
.btn-default{
  background-color: transparent;
  color: #09B99B;
}
#pd{
  color: #09B99B;
}

select#gender,#country,#state,#city{
  height: 33px;
}

.gj-datepicker {
    position: sticky !important;
    display: table;
}
.brand{
  display: none;
}
.closebtn{
  display: none;
}
.lside{
    position: relative;
    margin-top: 95%;
}
/**************************]***********************************/

@media screen and (min-width: 320px) and (max-width: 414px) {
  .lh {
    margin: 0 auto;
}
  .bottom hr {
    border-top: 1px solid #fff;
    width: 106%;
    margin-left: -11px;
}
  .lside{margin-left: 10px; margin-top: 80%;}
  .right h2{text-decoration: none;}
  .brand{
    font-size: 25px !important;
    display: inline;
    cursor:pointer;
}
  .regt h2{font-size: 24px} 
  .lh{padding-left: -15px !important;}
  .mb{padding-left: 65px;}
    .con {
    height: auto;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0px !important;
    left: 0;
    background-color: rgb(77, 0, 77);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 0px;
}
.con a {
    padding: 8px 8px 8px calc;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.con a:hover {
    color: #f1f1f1;
}
.con .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
@media screen and (max-height: 450px) {
  .con {padding-top: 15px;}
  .con a {font-size: 18px;}
}
}
@media screen and (max-width: 1280px){
  .bottom{
    margin-top: 97%;
  }
  .lside {
    position: relative;
    margin-top: 95%;
}
.con {
    position: fixed;
    top: 200px;
}
}
@media screen and (max-width: 1024){
  .account{
    font-size: 11px !important;
}
}
@media screen and (min-width: 960px){
  .con {
    position: fixed;
    top: 70px;
}
.account{
  font-size: 13px;
}
.in {
    margin-left: 20px;
    text-decoration: underline;
    font-weight: 700;
}
}
.myCheckbox input {
    // display: none;
    // Better than display: none for accessibility reasons
    position: relative;
    z-index: -9999;
}
.myCheckbox span {
    width: 20px;
    height: 20px;
    display: block;
    background: url("link_to_image");
}
.myCheckbox input:checked + span {
    background: url("link_to_another_image");
}


/**************************** START SIGNUP STEP2 ****************************/

/*.sign_step2{width: 40%;}*/
.sig_nam{
  display: block;
  padding: 10px;
  font-size: 16px;
  font-weight: 100;
  color: #676767 !important;
  margin-top: 10px !important;
}
/*select.sign_in{height: 35px;}*/
select.form-control.sign_in{height: 35px !important;}
#sign_km{   
    position: absolute;
    top: 58px;
    left: 300px;
    color: #09b99b;
    font-size: 18px;
  }
  .sign_btn{
    background-color: #09b99b;
    border: 1px solid #09b99b;
    /*left: 10px;*/
    border-radius: 4px !important;
  }
  .sign_up{border-radius: 4px !important;
    background-color: #fff !important;
    width: 98% !important;
  }
  .sign_st2:before{margin-left: 26%;}
  .sign_step2 .set{color: #676767;
    font-weight: 100;
    font-size: 15px;
  }
  .sign_bk h3{
    margin-top: 45px;
    color: #09b99b;
    text-decoration: underline;
  }

/************************** media query of signup step2 ********************/
@media screen and (min-width: 320px) and (max-width: 414px) {
  #sign_km{left: 225px;}

}



/*************************** END OF SIGNUP STEP2 ****************************/